.likes_count {
  font-weight: bold;
  margin-left: .3rem;
}

.likes_section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.likes_button {
  margin-left: .5rem;
}

.post {
  padding: 2rem;
  border: var(--main-elements-border);
  background-color: #fff;
  border-radius: 1rem;

}

.post_info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.post_info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
