body, html {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  'header header'
  'sidebar content';
  grid-template-columns: 220px 10fr;
  grid-template-rows: 100px minmax(calc(100vh - (100px + 1rem)), 1fr);
  gap: 1rem;
}

.content {
  grid-area: content;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 2rem;
  background-color: rgb(238, 238, 238);
  border-radius: 1em;
  /* overflow-y: scroll; */
}

.primary_button {
  align-self: end;
  font-size: 1rem;
  font-weight: bold;
  padding: .5em .75em;
  border-radius: .5rem;
  background-color: rgb(238, 78, 78);
  color: white;
  border: none;
}

.primary_button:hover {
  background-color: rgb(184, 59, 59);
}

.primary_button:disabled {
  opacity: .4;
  pointer-events: none;
}












