.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
  gap: 1rem;
}

.dialogs_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 2px solid rgba(0,0,0, .1);
  padding-right: 1rem;
}

.dialogs_messages {
  display: flex;
  flex-direction: column;
}

.dialogs_items {
  max-height: calc(100vh - (100px + 1rem + 4rem));
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-right: 2rem;
}

.dialogs_input {
  display: flex;
  width: 100%;
  gap:  1rem;
  align-items: flex-start;
  justify-content: start;
}

.dialogs_input textarea {
  min-height: 60px;
  max-height: 300px;
  /* resize: none; */
}

.dialogs_input button {
  align-self: flex-start;
  padding: 1rem;
}
